* {
    box-sizing: border-box;
}
:root {
    --main-color: #fffaf5;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
/* General */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 50px;
    display: inline-block;
    outline: none;
    border: none;
    background-color: transparent;
    min-width: 190px;
    padding: 0 20px;
    border-radius: 25px;
    height: var(--height);
    line-height: var(--height);
    background-color: red;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
}
.title {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 119.231%;
}

.desc {
    color: #656689;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%;
}
main {
    background-color: var(--main-color);
}

/* Header */

.header {
    padding: 10px 0;
    background-color: var(--main-color);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
}

.header-sticky {
    position: sticky;
    top: -26px;
    z-index: 99;
}
.header__logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header__logo .img-content {
    font-size: 2.3rem;
    font-weight: 700;
}

.header__list .list {
    display: flex;
    column-gap: 36px;
    align-items: center;
}

.header__list .list .item:first-child a {
    color: #000958;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.header__list .item a {
    display: inline-block;
    color: #5e6085;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    transition: scale 0.4s;
}

.header__list .item a:hover {
    text-decoration: underline;
    font-weight: 600;
    color: #000958;
    transform: scale(1.3);
}

.btn-sign-up {
    background-color: transparent;
    border: 1px solid #000958;
    min-width: 117px;
    height: var(--height);
    line-height: var(--height);
    color: #000958;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.btn-sign-up:hover {
    border-color: #ff5b2e;
    background-color: #ff5b2e;
    color: #fffaf5;
}

/* Hero */
.hero {
    padding-top: 100px;
    padding-bottom: 70px;
}
.hero-container {
    display: flex;
    align-items: center;
    column-gap: 85px;
}

.hero__img {
    width: 52%;
    position: relative;
    flex-shrink: 0;
}

.images {
    border-radius: 16px;
}
.hero__img--large .images {
    position: relative;
    width: 388px;
    height: 488px;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
}

.hero__img--large .circle {
    position: absolute;
    z-index: 0;
}

.hero__img--large .circle1 {
    top: 17px;
    right: 168px;
}

.hero__img--large .circle2 {
    bottom: 10px;
    left: -60px;
}
.hero__img--small .images {
    position: absolute;
    width: 186px;
    height: 244px;
    flex-shrink: 0;
    object-fit: cover;
    bottom: -26px;
    right: 40px;
    z-index: 3;
}

.hero__info {
    position: absolute;
    padding: 18px 0 18px 14px;
    width: 250px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    bottom: -66px;
    right: 218px;
    z-index: 4;
}
.hero__info .icon {
    object-fit: cover;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fec23f;
}

.hero__info .line {
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__info .line--above {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    flex-shrink: 0;
}

.hero__info .line--below {
    margin-top: 6px;
    width: 39px;
    height: 4px;
    flex-shrink: 0;
}

.hero__info .separator {
    margin-top: 23px;
    margin-bottom: 23px;
    width: 222px;
    height: 2px;
    background: #f2f2f2;
}

.hero__item {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.hero__item img {
    display: block;
}

.hero__item .hero__item__group .info {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.hero__title {
    width: 517px;
    color: #000958;
    font-family: Sora;
    font-size: 6.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 115.152%;
}
.hero__desc {
    width: 391px;
    margin-top: 24px;
}
.hero__cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.hero__btn {
    --height: 60px;
    min-width: 60px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 31px;
    background: #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero_cta a {
    display: block;
}

.hero__cta .btn {
    display: flex;
    align-items: center;
}

.hero__cta .hero__btn:hover {
    opacity: 0.9;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.5);
}

.hero__cta__text {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}
.hero__cta--dot {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}

.hero__cta--dot .array {
    width: 5px;
    height: 5px;
    border-top: 1.5px;
    border-right: 1.5px;
    border-style: solid;
    border-color: #ff5b2e;
    rotate: 45deg;
    margin-right: 2px;
}

.hero__tel {
    margin-left: 24px;
    color: #000958;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-decoration-line: underline;
}

/* About */
.about {
    margin-top: 87px;
    padding: 53px 0;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 108px;
}

.about-content {
    width: 40.76%;
}
.about-title {
    position: relative;
}
.about-title::before {
    position: absolute;
    margin-bottom: 15px;
    content: "//  About  //";
    white-space: pre;
    display: inline-block;
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    top: -20px;
    left: 4px;
}

.about-desc {
    width: 431px;
    margin-top: 24px;
}

.about-form-container {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 34px;
    column-gap: 36px;
}
.about-label {
    white-space: nowrap;
    display: flex;
    align-items: center;
    position: relative;
    color: #48496a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.about-label::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #181e52;
    border-radius: 6px;
    margin-right: 10px;
}

.about-label::after {
    content: "";
    display: inline-block;
}
.about-form-group [type="checkbox"]:checked ~ label::before {
    background-color: #ff5b2e;
    border-color: #ff5b2e;
}

.about-form-group [type="checkbox"]:checked ~ label::after {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 13px;
    height: 9px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    rotate: -45deg;
}
.about-img {
    position: relative;
}
.about-img__image {
    display: inline-block;
    position: relative;
    width: 450px;
    height: 602px;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 10;
}
.about-img::before {
    content: url(../images/about-trangtri.svg);
    position: absolute;
    right: -70px;
    bottom: 55%;
}
.about-img__background {
    position: absolute;
    width: 494px;
    height: 336px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
    bottom: 2px;
    right: -31px;
}

.about-img__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 136px;
    height: 156px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    top: 25%;
    left: -92px;
}

.about-img__info::before {
    position: absolute;
    content: url(../images/about-images-cat.svg);
    top: -34px;
    right: -34px;
}
.about-img__info .sub-title {
    padding: 31px 26px 0;
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.about-img__info .sub-desc {
    width: 83px;
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
}

/* Vacation */
.vacation {
    padding: 20px 0;
    margin-top: 57px;
}

.vacation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 127px;
}

.vacation-img {
    position: relative;
}
.vacation-img__image {
    position: relative;
    z-index: 3;
    width: 458px;
    height: 500px;
    flex-shrink: 0;
    object-fit: cover;
    display: inline-block;
}

.vacation-img__wrap::after {
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    display: inline-block;
    width: 458px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 18px;
    border: 2px #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.vacation-img__item {
    position: absolute;
}

.vacation-img__item.one {
    z-index: 99;
    top: -24px;
    right: 5px;
}

.vacation-img__item.two {
    z-index: 99;
    top: 28px;
    right: -29px;
}
.vacation-img__item.three {
    z-index: 99;
    top: 50%;
    right: -30px;
}
.vacation-img__item.four {
    z-index: 99;
    right: -49px;
    bottom: -54px;
}
.vacation-img__item.five {
    z-index: 99;
    top: 10px;
    right: 60px;
}
.vacation-img__item.six {
    z-index: 99;
    top: 67%;
    right: 20px;
}

.vacation-title {
    color: #000958;
}

.vacation-desc {
    margin-top: 24px;
    width: 511px;
}

.vacation-booking {
    padding-bottom: 14px;
    position: relative;
    margin-top: 52px;
    display: flex;
    align-items: center;
    column-gap: 56px;
}

.vacation-booking::after {
    display: inline-block;
    position: absolute;
    left: 8px;
    top: 37px;
    content: "";
    width: 95px;
    height: 2px;
    background: #ff5b2e;
}
.vacation-booking__item {
    display: flex;
    align-items: center;
}

.vacation-booking__desc {
    white-space: nowrap;
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.vacation-press {
    display: flex;
    align-items: center;
    column-gap: 11px;
}
.vacation-press:hover {
    text-decoration: underline;
    text-shadow: -1px 7px 8px rgba(0, 0, 0, 0.11);
}

.vacation-booking__desc-more {
    width: 391px;
    margin-top: 36px;
    font-size: 1.4rem;
    color: #656689;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 171.429%;
}

.vacation__view-more {
    margin-top: 53px;
    display: inline-block;
    color: #ff5d31;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-decoration: underline;
}
